<ion-header>
  <ion-toolbar>
    <ion-title>PDF Export Options</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="dialog-padding">
  <p class="description">
    Configure your PDF export settings below.
  </p>
  <ion-list>
    <ion-item>
      <ion-checkbox slot="start" [(ngModel)]="includeBackground"></ion-checkbox>
      <ion-label>
        <h2>Include Background Image</h2>
        <p>Add the app's background image to the PDF</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Page Format</h2>
      </ion-label>
      <ion-select [(ngModel)]="format" interface="popover" slot="end">
        <ion-select-option value="a4">A4</ion-select-option>
        <ion-select-option value="letter">Letter</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Orientation</h2>
      </ion-label>
      <ion-select [(ngModel)]="orientation" interface="popover" slot="end">
        <ion-select-option value="portrait">Portrait</ion-select-option>
        <ion-select-option value="landscape">Landscape</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <div class="button-container">
    <ion-button expand="block" (click)="confirm()">
      Export PDF
    </ion-button>
  </div>
</ion-content>
