.ion-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: var(--ion-background-color);
}

ion-content {
  --background: var(--ion-background-color);
  flex: 1;
}

ion-segment {
  margin: 0.5rem 1rem;
}